# PIP
.cache/pip/

# Python virtualenv environments
env/
envs/
venv/

# Visual Studio Code config
.vscode/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PIP cache
.cache/

# MacOS
.DS_Store

# Sphinx documentation
.doctrees/
docs/*
!docs/src

# Datasets
data/*
!data/.gitkeep

# Logs
*.log
logs/*
!logs/.gitkeep

# Params
params/*
!params/.gitkeep

# IPython notebooks
.ipynb_checkpoints/*
*.ipynb

# Pytest
.coverage*
.pytest_cache/

# SQL dump files
*.sql

# Tensorflow
.keras
