# Python virtualenv environments
env/
envs/

# Visual Studio Code config
.vscode/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Sphinx documentation
_*/
.doctrees/
docs/docs/
docs/.buildinfo
docs/genindex.html
docs/index.html
docs/objects.inv
docs/search.html
docs/searchindex.js

# Datasets
data/*
!data/.gitkeep

# Logs
*.log
logs/*
!logs/.gitkeep