# Python virtualenv environments
env/
envs/

# Visual Studio Code config
.vscode/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Sphinx documentation
.doctrees/
docs/*
!docs/src

# Datasets
data/*
!data/.gitkeep

# Logs
*.log
logs/*
!logs/.gitkeep

# IPython notebooks
.ipynb_checkpoints/*
*.ipynb