baytune==0.2.1
boto>=2.48.0
bcrypt>=3.1.4
joblib>=0.11
future>=0.16.0
numpy==1.14.5
pandas>=0.22.0
scikit-learn>=0.18.2
scipy>=0.19.1
sklearn-pandas>=1.5.0
SQLAlchemy==1.2.10
psycopg2==2.7.5
Flask==1.0.2
dill==0.2.8.2
tensorflow==1.10.0
h5py==2.8.0
matplotlib==2.2.3
git+https://github.com/ucbrise/clipper.git@develop#subdirectory=clipper_admin