apiVersion: v1
kind: Service
metadata:
  name: stolon-proxy-service
spec:
  type: NodePort
  ports:
    - port: POSTGRES_PORT
      targetPort: POSTGRES_PORT
      nodePort: POSTGRES_EXT_PORT
  selector:
    component: stolon-proxy
    stolon-cluster: kube-stolon
